// auch für table in unibody menu

.ty-table-edit {
	background: #ededed;
    padding-top: 4px;
}
table, .megamenu-menu-panel table {
	margin-bottom: 1.333333rem;
	font-weight: inherit;

	th, td {
		padding: 8px;
		line-height: 1.333333rem;
		vertical-align: top;
		border-top: 1px solid $black;
	}
	th {
		font-weight: bold
	}
	thead th {
		vertical-align: bottom
	}
	caption+thead tr:first-child th,
	caption+thead tr:first-child td,
	colgroup+thead tr:first-child th,
	colgroup+thead tr:first-child td,
	thead:first-child tr:first-child th,
	thead:first-child tr:first-child td {
		border-top: 0
	}
	tbody+tbody {
		border-top: 2px solid $md-char-color;
	}
}